<div *ngIf="!isResearchClosed">
  <h5 class="m-2 mb-4"><strong i18n="@@chooseServerTitle">{{ tabId === 'catalogue' ? 'Recherche dans le ' : 'Choix du serveur '}}{{ tabId | uppercase }}</strong></h5>
  <div id="search-container">
    <input
      #inputCatalogue
      *ngIf="tabId === 'catalogue'"
      type="text"
      [value]="catalogueSearchResultSelected ? catalogueSearchResultSelected : ''"
      class="form-control px-3 my-3"
      placeholder="saisissez le terme recherché ..."
      (keyup)="search($event);"
      autocomplete="off"
      (focus)="inputFocused = true" 
      (focusout)="isLocating()" />
  
    <div id="catalogue-search-result" class="dropdown-menu show scrollable w-100" *ngIf="(catalogueSearchResult && catalogueSearchResult.length > 0) && inputFocused"> 
      <div *ngIf="catalogueSearchResult && catalogueSearchResult.length">
        <div *ngFor="let result of catalogueSearchResult">
          <div class="pl-2">
            <button (click)="setCatalogueSearchResultSelected(result)" class="btn dropdown-item">{{ result['start'] }}<strong>{{ result['strong'] }}</strong>{{ result['end'] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <select class="custom-select px-3 my-3" [(ngModel)]="selection" (ngModelChange)="select($event)">
    <option [ngValue]="'noPresetSelected'" hidden selected disabled i18n="@@chooseServerSelectPlaceholder">{{ tabId !== 'catalogue' ? 'Sélectionnez un serveur ' : 'Filtrez un ' }}{{ tabId | uppercase }}</option>
    <option
      *ngFor="let server of servers"
      [ngValue]="server">
      <span>{{ server.NOM ? server.NOM : server.name }}</span>
    </option>
  </select>
  <input
    #inputUrl
    *ngIf="tabId !== 'catalogue'"
    [value]="selectedServerUrl ? selectedServerUrl : ''"
    (change)="selection = 'noPresetSelected'"
    type="text"
    class="form-control px-3 my-3"
    placeholder="URL du serveur" />
  <div class="alert alert-danger" role="alert" *ngIf="errorResponseType">
    <p class="mb-0" [ngSwitch]="errorResponseType">
      <ng-container *ngSwitchCase="'INVALID_FORMAT'" i18n="@@chooseServerErrorResponse-INVALID_FORMAT" >
        Le format récupéré est invalide.
      </ng-container>
      <ng-container *ngSwitchCase="'INVALID_URL'" i18n="@@chooseServerErrorResponse-INVALID_URL">
        Il semblerait que l'url que vous avez insérée soit invalide. Veuillez utiliser une autre url.
      </ng-container>
      <ng-container *ngSwitchCase="'NOT_FOUND'" i18n="@@chooseServerErrorResponse-NOT_FOUND">
        Le serveur est injoignable ou ne répond pas correctement.
      </ng-container>
      <ng-container *ngSwitchCase="'UNAUTHORIZED'" i18n="@@chooseServerErrorResponse-UNAUTHORIZED">
          L'accès au serveur n'est pas autorisé.
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{ errorResponse }}
      </ng-container>
    </p>
  </div>
  <div class="alert alert-info" role="alert" *ngIf="infoResponseType">
    <p class="mb-0"><i class="fas fars-fiche-info mr-2" aria-hidden="true"></i>
      <ng-container [ngSwitch]="infoResponseType">
        <ng-container *ngSwitchCase="'NO_COMPATIBLE_LAYER'" i18n="@@chooseServerInfoResponse-NO_COMPATIBLE_LAYER" >
          Il n'y a pas de couche compatible avec la projection de la carte.
        </ng-container>
        <ng-container *ngSwitchCase="'INVALID_URL'" i18n="@@chooseServerInfoResponse-INVALID_URL" >
          Il semblerait que l'url que vous avez insérée soit invalide. Veuillez utiliser une autre url.
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ infoResponse }}
        </ng-container>
      </ng-container>
    </p>
  </div>
  <div class="text-right my-4">
    <button class="btn btn-modal mb-2 px-3" (click)="searchForLayers(); isResearchClosed = true;"
      i18n="@@chooseServerLayerListButton">Lister les couches
    </button>
  </div>
</div>

<div *ngIf="treeView || finalCatalogueResult" (click)="isResearchClosed = !isResearchClosed;" class="mb-3">
  <button *ngIf="isResearchClosed" type="button" class="btn btn-block btn-light border p-1 m-0 mt-3">
    <i class="fas fars-chevron-bas"></i>
  </button>
  <button *ngIf="!isResearchClosed" type="button" class="btn btn-block btn-light border p-1 m-0 mt-3">
    <i class="fas fars-chevron-haut"></i>
  </button>
</div>

<div #layersList *ngIf="!isCatalogueMode && isResearchClosed && !errorResponse" class="mb-3">
  <h5 class="m-2 mb-4"><strong i18n="@@chooseServerLayerListTitle">Liste des couches</strong></h5>
  <div *ngIf="!treeView" class="d-flex justify-content-center">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only" i18n="@@chooseServerLoading">Chargement...</span>
    </div>
  </div>
  <div *ngIf="treeView">
    <ngx-treeview [config]="config" [items]="treeView" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)">
    </ngx-treeview>
    <div class="text-right">
      <div *ngIf="formats" class="d-inline-block w-25 dropdown dropup mx-3 my-3 py-1 px-3">
        <select class="custom-select p-1" [(ngModel)]="selectedFormat">
          <option *ngFor="let format of formats" [ngValue]="format">
            <span>{{ format }}</span>
          </option>
        </select>
      </div>
      <div class="d-inline-block my-4">
        <button class="btn btn-modal mb-2 px-3" (click)="addLayers()" i18n="@@chooseServerAddLayersButton" >Ajouter les couches</button>
      </div>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-inline row-item">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fas" [class.fars-chevron-droite]="item.collapsed"
      [class.fars-chevron-bas]="!item.collapsed"></i>
    <div class="form-check w-100 justify-content-start pl-2">
      <label *ngIf="item.children" class="form-check-label">{{item.text}}</label>
      <label *ngIf="!item.children" class="form-check-label customcheck w-100 d-flex justify-content-between pl-4"
        [title]="item.value.format ? item.value.format : ''">
        {{item.text}}
        <input type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()" [disabled]="item.disabled"
          [indeterminate]="item.indeterminate">
        <span class="checkmark"></span>
      </label>
      <a target="_blank" [href]="item.value.metadata">
        <label *ngIf="item.value.metadata" class="form-check-label align-middle ml-2">
          <i class="fas fars-fiche-info" aria-hidden="true" i18n-title="chooseServerInfoSheetLabel" title="Visualiser la métadonnée associée"></i>
        </label>
      </a>
    </div>
  </div>
</ng-template>

<div #layersList *ngIf="isCatalogueMode && isResearchClosed && !errorResponse" class="mb-3">
  <h5 class="m-2 mb-4"><strong i18n="@@chooseServerLayerListTitle">Résultats des catalogues</strong></h5>
  <div *ngIf="!finalCatalogueResult" class="d-flex justify-content-center">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only" i18n="@@chooseServerLoading">Chargement...</span>
    </div>
  </div>
  <div *ngIf="finalCatalogueResult && (finalCatalogueResult.summary['@count'] === '0')" class="d-flex justify-content-center">
    <div class="alert alert-info" role="alert">
      <p class="mb-0"><i class="fas fars-fiche-info mr-2" aria-hidden="true"></i>
        Il n'y a pas de résultats dans le catalogue.
      </p>
    </div>
  </div>
  <div *ngIf="finalCatalogueResult && finalCatalogueResult.metadata">
    <alk-chose-catalogue-results [catalogueResults]="finalCatalogueResult" [catalogueUrl]="catalogueUrl" [searchValue]="catalogueSearchResultSelected" [selectedCatalogue]="selectedCatalogue" [map]="map" [summaryCount]="catalogueSummaryCount"></alk-chose-catalogue-results>
    <!-- <div class="mb-4 border">
      <div class="d-flex">
        <h5 class="flex-grow-1">{{ selectedFinalResult.title }}</h5>
        <div class="d-inline-block my-4">
          <button class="btn btn-modal mb-2 px-3">WFS</button>
        </div>
        <div class="d-inline-block my-4">
          <button class="btn btn-modal mb-2 px-3">WMS</button>
        </div>
      </div>
      <div class="mt-2">
        {{ selectedFinalResult.abstract }}
      </div>
    </div>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <span class="page-link">Previous</span>
        </li>
        <ng-container *ngFor="let result of finalCatalogueResult.metadata; let i = index">
          <li class="page-item" [class.active]="result === selectedFinalResult">
            <button class="page-link" (click)="selectedFinalResult = result">{{ i + 1 }}</button>
          </li>
        </ng-container>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav> -->
  </div>
</div>