.dropdown {
    a::after {
        display: none;
    }
}

#search-container {
    position: relative;
}

#catalogue-search-result {
    .list-group {
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
        font-size: 0.8rem;
        padding: 0;
    }
    .list-group.scrollable {
        max-height: 50vh;
        overflow-y: auto;
    }
    .dropdown-item {
        border-top: none;
    }
}