<div *ngIf="isContextLoading" class="spinner-container p-5">

    <div class="container d-flex justify-content-center align-items-center">

        <div class="text-center">
            <p><strong i18n="@@BootstrapMapLoading">Chargement de la carte</strong></p>
            <div class="spinner-border"></div>
        </div>

    </div>

</div>

<router-outlet *ngIf="!isContextLoading"></router-outlet>