<div class="sidebar-closed-research d-inline-flex" [ngbCollapse]="!isCollapsed" [hidden]="!isCollapsed">
  <div id="map-search-reduce">
    <button class="btn btn-collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="sidebar-research">
      <i class="fa fars-chevron-gauche fa-lg"></i>
    </button>
  </div>
  <form>
    <div class="input-group input-group-lg">
      <div class="input-group-append">
        <button geolocationButton class="btn btn-light" type="button"></button>
      </div>
    </div>
  </form>
</div>

<div id="sidebar-research" [ngbCollapse]="isCollapsed">
  <div class="sidebar-opened-research d-inline-flex w-100">
    <div id="map-search-reduce" class="open">
      <button class="btn btn-collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="sidebar-research">
        <i class="fa fars-chevron-droite fa-lg"></i>
      </button>
    </div>
    <form *ngIf="!isCollapsed">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text rounded-0 bg-light border-0" id="search-icon"><i
              class="fas fars-search"></i></span>
        </div>
        <input id="map-search-input" type="text" class="form-control bg-light border-0 pl-1"
          i18n-placeholder="@@researchInputPlaceholder" placeholder="Rechercher un lieu..." aria-label="Recherche"
          aria-describedby="basic-addon1" (keyup)="search($event);" autocomplete="off" (focus)="inputFocused = true"
          (focusout)="isLocating()">
        <div class="input-group-append">
          <button geolocationButton class="btn btn-light" type="button"></button>
        </div>
      </div>


      <div id="map-search-result" class="dropdown-menu show scrollable w-100" *ngIf="!isResultEmpty && inputFocused">
        <div *ngIf="addressSearchResult.length">
          <div *ngFor="let result of addressSearchResult">

            <ng-template #thenResultHeader>
              <ng-container [ngSwitch]="result['header']">
                <ng-container *ngSwitchCase="'Région'" i18n="@@researchResultOptgroupLabelRegion">Région</ng-container>
                <ng-container *ngSwitchCase="'Département'"
                  i18n="@@researchResultOptgroupLabelDepartement">Département</ng-container>
                <ng-container *ngSwitchCase="'EPCI'" i18n="@@researchResultOptgroupLabelEPCI">EPCI</ng-container>
                <ng-container *ngSwitchCase="'Capitale d\'état'"
                  i18n="@@researchResultOptgroupLabelCapitalEtat">Capitale d'état</ng-container>
                <ng-container *ngSwitchCase="'Commune'"
                  i18n="@@researchResultOptgroupLabelCommune">Commune</ng-container>
                <ng-container *ngSwitchCase="'Préfecture de région'"
                  i18n="@@researchResultOptgroupLabelPrefectureRegin">Préfecture de région</ng-container>
                <ng-container *ngSwitchCase="'Préfecture'"
                  i18n="@@researchResultOptgroupLabelPrefecture">Préfecture</ng-container>
                <ng-container *ngSwitchCase="'Lieu-dit'"
                  i18n="@@researchResultOptgroupLabelLieuDitHabite">Lieu-dit</ng-container>
                <ng-container *ngSwitchCase="'Adresses'"
                  i18n="@@researchResultOptgroupLabelAdresses">Adresses</ng-container>
                <ng-container *ngSwitchDefault i18n="@@researchResultOptgroupLabelDefault">Adresses</ng-container>
              </ng-container>
            </ng-template>
            <ng-template #defaultAdresses>
              <ng-container i18n="@@researchDefaultAdressesLabel">Adresses</ng-container>
            </ng-template>
            <h5 class="dropdown-subheader border-0"><strong><ng-container
                  *ngIf="result['header'] !== null; then thenResultHeader; else defaultAdresses"></ng-container></strong>
            </h5>
            <div class="pl-4" *ngFor="let link of result['links']">
              <button
                (click)="locatePresetZoneOnMap(link['coordinates'], result['header'] ? result['header'] : 'Adresses')"
                class="btn dropdown-item">{{ link['start'] }}<strong>{{ link['strong'] }}</strong>{{ link['end']
                }}</button>
            </div>
          </div>
        </div>

        <div *ngIf="favoriteZonesSearchResult.length">
          <h4 class="dropdown-header border-0"><strong i18n="@@researchLabelFavoriteArea">Zones favorites</strong></h4>
          <div *ngFor="let link of favoriteZonesSearchResult">
            <div class="pl-2">
              <button (click)="fitToZone(link['bbox'])" class="btn dropdown-item">{{ link['start'] }}<strong>{{
                  link['strong'] }}</strong>{{ link['end'] }}</button>
            </div>
          </div>
        </div>

        <div *ngIf="presetZonesSearchResult.length">
          <h4 class="dropdown-header border-0"><strong i18n="@@researchLabelPredefinedArea">Zones prédéfinies</strong>
          </h4>
          <div *ngFor="let result of presetZonesSearchResult">
            <h5 class="dropdown-subheader border-0"><strong>{{ result['header'] }}</strong></h5>
            <div class="pl-4" *ngFor="let link of result['links']">
              <button
                (click)="locatePresetZoneOnMap(link['polygon'], null, result['locator'] ? result['locator'] : null, result['locator'] ? link['strong'] : null)"
                class="btn dropdown-item">{{ link['start'] }}<strong>{{ link['strong'] }}</strong>{{ link['end']
                }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>