<div class="exporter-pdf-initial modal-content rounded-0">
  <div class="modal-header p-4">
    <h5 class="modal-title ml-4" id="exampleModalLabel">
      <strong i18n="@@printingExportModalHeader" >Export PDF pour demande de foncier</strong>
    </h5>
    <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close();"> <!-- [disabled]="mapService.impressionEnCours" -->
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body-container m-auto">
      <form [formGroup]="exportForm" (ngSubmit)="prepareExportRequest()" *ngIf="this.lastFeatureAdded">
        <div class="row">
          <div class="col-8">
            <h5><strong>Titre de la carte</strong></h5>
            <input type="text" class="form-control pl-1 my-3" formControlName="titre" placeholder="Titre" readonly>
            <h5><strong>Surface</strong></h5>
            <input type="number" class="form-control pl-1 my-3" formControlName="surface" placeholder="Surface" readonly>
            <h5><strong>Commentaire</strong></h5>
            <textarea class="form-control" formControlName="commentaire" rows="5"></textarea>
          </div>
          <div class="col-4">
            <h5><strong>Identifiant</strong></h5>
            <input type="text" class="form-control pl-1 my-3" formControlName="identifiant" placeholder="Identifiant" readonly>
            <h5><strong>Nom</strong></h5>
            <input type="text" class="form-control pl-1 my-3" formControlName="nom" placeholder="Nom" readonly>
            <h5><strong>Prénom</strong></h5>
            <input type="text" class="form-control pl-1 my-3" formControlName="prenom" placeholder="Prénom" readonly>
            <h5><strong>Format de l'image</strong></h5>
            <div class="format-select d-flex flex-row mb-4 mt-2 text-left">
              <div class="format card m-2" [class.selected]="exportForm.controls.format.value === 'A3'" (click)="selectImageFormat('A3')">
                <div class="card-body py-2">
                  <h6 class="card-title m-0">A3</h6>
                </div>
              </div>
              <div class="format card m-2" [class.selected]="exportForm.controls.format.value === 'A4'" (click)="selectImageFormat('A4')">
                <div class="card-body py-2">
                  <h6 class="card-title m-0">A4</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 text-right">
          <button class="btn btn-modal px-3 py-2" type="submit" [disabled]="mapService.impressionEnCours"> <!-- !exportForm.valid ||  -->
            <div *ngIf="mapService.impressionEnCours" class="spinner-border text-primary"></div>
            <ng-container i18n="@@printingExportModalExportButton">Exporter</ng-container>
          </button>
        </div>
      </form>
      <div *ngIf="!this.lastFeatureAdded" class="my-3">
        <p class="lead">Veuillez démarrer une session d'édition et créer une parcelle au préalable. </p>
        <div class="w-100 text-right">
          <button type="button" ngbAutofocus class="btn btn-modal px-3 py-2" (click)="activeModal.close();">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>

