<ng-template #pagination>
  <nav class="mt-2"> <!-- *ngIf="maxPage > 1" -->
    <ul class="pagination justify-content-center my-1" [class.unite]="resultPage < 9" [class.dizaine]="resultPage > 9">
      <li class="page-item" [class.disabled]="resultPage == 1">
        <button class="page-link" (click)="changePageResult(1)" tabindex="-1" [disabled]="resultPage == 1" >
          <i class="fa fa-fw fa-fast-backward"></i>
        </button>
      </li>
      <li class="page-item" [class.disabled]="resultPage == 1">
        <button class="page-link" (click)="changePageResult(resultPage - 1);" tabindex="-1" [disabled]="resultPage == 1" >
          <i class="fa fa-fw fa-backward"></i>
        </button>
      </li>

      <li *ngIf="!paginationRange.includes(1)" class="page-item">
        <a class="page-link" (click)="changePageResult(1)" [innerText]="1"></a>
      </li>
      <li *ngIf="!paginationRange.includes(2) && paginationRange.includes(3)" class="page-item">
        <a class="page-link" (click)="changePageResult(2)" [innerText]="2"></a>
      </li>
      <li *ngIf="!paginationRange.includes(2) && !paginationRange.includes(3)" class="page-item disabled">
        <span class="page-link">&hellip;</span>
      </li>

      <ng-container *ngFor="let numPage of paginationRange">
        <li *ngIf="numPage === resultPage" class="page-item active">
            <a class="page-link" (click)="changePageResult(numPage);" [innerText]="numPage"></a>
        </li>
        <li *ngIf="numPage !== resultPage" class="page-item">
          <a class="page-link" (click)="changePageResult(numPage);" [innerText]="numPage"></a>
        </li>
      </ng-container>

      <li *ngIf="!paginationRange.includes(maxPage-1) && !paginationRange.includes(maxPage-2)" class="page-item disabled">
        <span class="page-link">&hellip;</span>
      </li>
      <li *ngIf="!paginationRange.includes(maxPage) && paginationRange.includes(maxPage-2)" class="page-item">
        <a class="page-link" (click)="changePageResult(maxPage-1);" [innerText]="maxPage-1"></a>
      </li>
      <li *ngIf="!paginationRange.includes(maxPage)" class="page-item">
        <a class="page-link" (click)="changePageResult(maxPage);" [innerText]="maxPage"></a>
      </li>

      <li class="page-item" [class.disabled]="resultPage == maxPage">
        <button class="page-link"(click)="changePageResult(resultPage + 1);" [disabled]="resultPage == maxPage" >
          <i class="fa fa-fw fa-forward"></i>
        </button>
      </li>
      <li class="page-item" [class.disabled]="resultPage == maxPage">
        <button class="page-link"(click)="changePageResult(maxPage);" [disabled]="resultPage == maxPage" >
          <i class="fa fa-fw fa-fast-forward"></i>
        </button>
      </li>
    </ul>
  </nav>
</ng-template>


<div *ngIf="currentLayerResults" >
  <div class="mb-4 p-2 border" *ngFor="let metadata of currentLayerResults">
    <div id="catalogue-card" class="row">
      <div class="col-3">
        <img width="170" height="140" [src]="metadata.image ? getImage(metadata.image) : ''">
      </div>
      <div class="col-9">
        <div class="d-flex align-items-center">
          <h5 class="flex-grow-1">{{ metadata.title }}</h5>
          <div class="d-inline-block m-1">
            <button title="Ajouter la couche en WFS" class="btn btn-primary mb-2 px-3" [disabled]="!searchForFormat(metadata, 'wfs')" (click)="customAddLayer(metadata, 'wfs')">WFS</button>
          </div>
          <div class="d-inline-block m-1">
            <button title="Ajouter la couche en WMS" class="btn btn-primary mb-2 px-3" [disabled]="!searchForFormat(metadata, 'wms')" (click)="customAddLayer(metadata, 'wms')">WMS</button>
          </div>
        </div>
        <small class="mt-2"> {{ getTruncateDesc(metadata.abstract) }} <strong class="text-primary" [title]="metadata.abstract">...</strong></small>
      </div>
    </div>
  </div>
</div>


<ng-container *ngTemplateOutlet="pagination"></ng-container>