<div class="modal-header p-4">
  <span class="modal-title align-self-center ml-2" id="exampleModalLabel">
    <i class="fa fars-mesurer mr-2"></i>
    <strong i18n="@@measuringModalTitle" >Extraire</strong>
  </span>
  <div *ngIf="screenMode === 'desktop'" class="list-group d-flex flex-row">
    <div class="list-group-item p-1 m-0" [class.selected]="extractingOption === 'rect'">
      <button i18n-title="@@extractingModalExtractRectButtonTitle" title="Mesurer une distance" type="button" class="close my-auto p-0 mx-1" (click)="setType('rect')">
        <span aria-hidden="true"><i class="fa fars-polygon fa-md"></i></span>
      </button>
    </div>
    <div class="list-group-item p-1 m-0" [class.selected]="extractingOption === 'polygon'">
      <button i18n-title="@@extractingModalExtractPolygonButtonTitle" title="Mesurer une aire" type="button" class="close my-auto p-0 mx-1" (click)="setType('polygon')">
        <span aria-hidden="true"><i class="fa fars-draw-polygon fa-md"></i></span>
      </button>
    </div>
  </div>
</div>
