<alk-visualiseur-core (window:resize)="updateTools()">

  <!-- Bouton d'ouverture sidebar mobile -->
  <div id="mobile-actions" class="d-flex flex-column align-items-center">
    <alk-mobile-sidebar></alk-mobile-sidebar>
  </div>

  <ng-container *ngIf="mapId && context|async; then thenTemplate;"></ng-container>
  <ng-template #thenTemplate>
    <div id="title-nav" class="p-4 d-flex justify-content-between">

      <div id="title-resume" class="justify-content-start">
        <div>
          <h1>{{ title }}
            <a *ngIf="infoLink" [href]="infoLink" target="_blank" i18n-title="@@titleH1Info"
              title="Visualiser la métadonnée" class="badge badge-pill ml-2">
              <i class="fa fa-info"></i>
            </a>
            <button *ngIf="helpingContent" i18n-title="@@h1OpenContextualMenuInfo" title="Ouvrir le contenu d'aide"
              class="btn badge ml-2" (click)="openHelpModal()">
              <i class="fa fa-question"></i>
            </button>
          </h1>
          <small>{{ resume }}</small>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <!-- Actions sur le projet -->
        <div id="project-actions" class="project d-flex align-items-center">
          <alk-nav-project></alk-nav-project>
        </div>

        <!-- Connexion d'un utilisateur -->
        <div id="connexion-actions" class="d-flex align-items-center ml-5">
          <alk-connexion-button i18n-buttonLabel="@@connexionButton" buttonLabel="Connexion"></alk-connexion-button>
        </div>

        <div id="navbar-btn-collapse">
          <button (click)="isNavCollapsed = !isNavCollapsed" class="btn rounded-0 bg-nav-bg text-primary py-0 px-2">
            <i [class]="isNavCollapsed ? 'fas fars-chevron-haut' : 'fas fars-chevron-bas'"></i>
          </button>
        </div>
      </div>

    </div>

    <nav id="main-nav" [ngbCollapse]="isNavCollapsed ? isNavCollapsed : false"
      class="navbar navbar-expand-lg fixed-topp navbar-ars collapse show p-3">
      <div class="navbar-collapse offcanvas-collapse my-O">
        <ul class="navbar-nav align-items-center w-100 mr-auto">

          <!-- Barre de navigation principale -->
          <div class="d-flex flex-grow-1">
            <alk-drawing-button-override saveGlobal="true" *ngIf="tools && tools.Edition && tools.Edition.active"
              i18n-buttonLabel="@@editButton" buttonLabel="éditer">
              <alk-pre-editing-modal #modal></alk-pre-editing-modal>
            </alk-drawing-button-override>
            <alk-annotating-button
              *ngIf="tools && tools.Annotation && (tools.Annotation.Polygon || tools.Annotation.Line || tools.Annotation.Circle || tools.Annotation.Point)"
              i18n-buttonLabel="@@annotateDropdown" buttonLabel="annoter">
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Polygon"
                (click)="coreService.setMapTool('drawPolygon')">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonDrawPolygon">Dessiner un polygone</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Line"
                (click)="coreService.setMapTool('drawLineString')">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonDrawPolyline">Dessiner une polyligne</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Circle"
                (click)="coreService.setMapTool('drawCircle')">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonDrawCircle">Dessiner un cercle</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools"
                (click)="coreService.setMapTool('drawIsochrone')">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonDrawIsochrone">Dessiner une zone isochrone / isodistance</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Point"
                (click)="coreService.setMapTool('drawSymbol')">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonInsertSymbol">Insérer un symbole</span>
              </alk-action-item-dropdown>
              <div class="dropdown-divider" [hidden]="drawLayerFeature"></div>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Text"
                (click)="coreService.setMapTool('insertText')" [hidden]="drawLayerFeature">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonInsertText">Insérer du texte</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Buffer"
                (click)="coreService.setMapTool('buffers')" [hidden]="drawLayerFeature">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonCreateBufferArea">Créer une zone tampon</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.BufferGeneral"
                (click)="coreService.setMapTool('buffersGeneral')" [hidden]="drawLayerFeature">
                <span i18n="@@headerButtonCreateGlobalBufferArea">Créer une zone tampon globale</span>
              </alk-action-item-dropdown>
              <div class="dropdown-divider"></div>
              <alk-action-item-dropdown
                *ngIf="tools && tools.Annotation.Modify || tools && tools.Annotation.Move || tools && tools.Annotation.Snapping"
                (click)="coreService.setMapTool('editDraws')" [hidden]="drawLayerFeature">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonEditAnnotation">Modifier une annotation</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Styles"
                (click)="coreService.setMapTool('styleDraws')">
                <alk-annotating-modal #modal></alk-annotating-modal>
                <span i18n="@@headerButtonEditAnnotatingStyle">Changer le style des annotations</span>
              </alk-action-item-dropdown>
              <alk-action-header-dropdown *ngIf="tools && tools.Annotation.Export" [hidden]="drawLayerFeature">
                <span i18n="@@headerExportAnnotation">Exporter les annotations</span>
              </alk-action-header-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Export"
                (click)="coreService.setMapTool('exportDrawsShp')" [hidden]="drawLayerFeature">
                <span i18n="@@headerButtonShapeFormat">Format Shape</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Annotation.Export"
                (click)="coreService.setMapTool('exportDrawsKml')" [hidden]="drawLayerFeature">
                <span i18n="@@headerButtonKmlFormat">Format KML</span>
              </alk-action-item-dropdown>
            </alk-annotating-button>
            <alk-interrogating-button *ngIf="tools && (tools.Info || tools.InfoAttributesQuery )"
              i18n-buttonLabel="@@headerInterrogateDropdown" buttonLabel="interroger">
              <alk-action-item-dropdown *ngIf="tools && tools.Info" (click)="coreService.setMapTool('infoPoint')">
                <alk-interrogating-modal #modal></alk-interrogating-modal>
                <span i18n="@@headerButtonInterrogatingPonctual">Information ponctuelle</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Info" (click)="coreService.setMapTool('infoRectangle')">
                <alk-interrogating-modal #modal></alk-interrogating-modal>
                <span i18n="@@headerButtonInterrogatingSquare">Information sur une zone rectangulaire</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Info" (click)="coreService.setMapTool('infoCircle')">
                <alk-interrogating-modal #modal></alk-interrogating-modal>
                <span i18n="@@headerButtonInterrogatingCircle">Information sur une zone circulaire</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Info" (click)="coreService.setMapTool('infoPolygon')">
                <alk-interrogating-modal #modal></alk-interrogating-modal>
                <span i18n="@@headerButtonInterrogatingPolygon">Information sur une zone polygonale</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Info && (tools.Buffer || tools.Annotation.Isochrone)">
                <alk-interrogation-isochrone-isodistance-modal #modal></alk-interrogation-isochrone-isodistance-modal>
                <span i18n="@@headerButtonInterrogatingIsochrone">Information sur une zone tampon / isochrone /
                  isodistance</span>
              </alk-action-item-dropdown>
              <div class="dropdown-divider" *ngIf="tools"></div>
              <alk-action-item-dropdown *ngIf="tools &&tools.InfoAttributesQuery"
                (click)="coreService.setMapTool('attributesQuery')">
                <alk-interrogating-modal #modal></alk-interrogating-modal>
                <span i18n="@@headerButtonGrantedRequest">Requêtes attributaires</span>
              </alk-action-item-dropdown>
            </alk-interrogating-button>
            <alk-measuring-button *ngIf="tools && tools.Measure" i18n-buttonLabel="@@headerMeasureButton"
              buttonLabel="mesurer">
              <alk-measuring-modal #modal [screenMode]="'desktop'"></alk-measuring-modal>
            </alk-measuring-button>
            <alk-locating-button *ngIf="tools && tools.Localisation || tools && tools.Geobookmark"
              i18n-buttonLabel="@@headerLocateDropdown" buttonLabel="localiser">
              <alk-action-item-dropdown *ngIf="tools && tools.Localisation">
                <alk-locating-preset-zones-modal #modal></alk-locating-preset-zones-modal>
                <span i18n="@@headerButtonFavoriteDropdown">Accéder à une zone prédéfinie</span>
              </alk-action-item-dropdown>
              <alk-action-header-dropdown
                *ngIf="tools && tools.Geobookmark && tools.GeobookmarkConfig && favoriteZones.length"><span>Mes zones
                  favorites ({{ favoriteZones.length }})</span></alk-action-header-dropdown>
              <ng-container *ngFor="let zone of favoriteZones; let i = index">
                <alk-action-item-dropdown [zone]="zone"
                  *ngIf="tools && tools.Geobookmark && tools && tools.GeobookmarkConfig && favoriteZones.length && i < 3">
                  <span>{{ zone.title }}</span>
                </alk-action-item-dropdown>
              </ng-container>
              <div class="dropdown-divider" *ngIf="tools && tools.Geobookmark && tools.GeobookmarkConfig "></div>
              <alk-action-item-dropdown *ngIf="tools && tools.Geobookmark" [icon]="'fars-ajouter'">
                <alk-locating-add-modal #modal></alk-locating-add-modal>
                <span i18n="@@headerButtonCreateFavoriteArea">Créer une nouvelle zone favorite</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown
                *ngIf="tools && tools.Geobookmark && tools.GeobookmarkConfig && favoriteZones.length">
                <alk-locating-manage-modal #modal></alk-locating-manage-modal>
                <span i18n="@@headerButtonManageFavoriteArea">Gérer les zones favorites</span>
              </alk-action-item-dropdown>
            </alk-locating-button>
            <alk-saving-button *ngIf="tools && tools.Context" i18n-buttonLabel="@@headerSavingButton"
              buttonLabel="sauvegarder">
              <alk-saving-modal #modal></alk-saving-modal>
            </alk-saving-button>
            <alk-opening-button *ngIf="tools && tools.Context" i18n-buttonLabel="@@headerOpenButton" buttonLabel="Ouvrir">
              <alk-opening-modal #modal></alk-opening-modal>
            </alk-opening-button>
            <alk-downloading-button
              *ngIf="(tools && tools.Download) && downloadableRootLayerGroup && downloadableRootLayerGroup.getLayers().getArray().length !== 0"
              i18n-buttonLabel="@@headerDownloadButton" buttonLabel="Télécharger">
              <alk-downloading-modal #modal></alk-downloading-modal>
            </alk-downloading-button>
            <alk-printing-button
              *ngIf="tools && tools.PrintBrowser || tools && tools.PrintPdf || tools && tools.PrintImg"
              i18n-buttonLabel="@@headerPrintDropdown" buttonLabel="imprimer">
              <alk-action-item-dropdown *ngIf="tools && tools.PrintImg">
                <alk-printing-image-modal #modal></alk-printing-image-modal>
                <span i18n="@@headerButtonPrintImg">Imprimer au format image</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.PrintPdf">
                <alk-printing-pdf-modal #modal></alk-printing-pdf-modal>
                <span i18n="@@headerButtonPrintPdf">Imprimer au format PDF</span>
              </alk-action-item-dropdown>
              <alk-action-item-dropdown *ngIf="tools && tools.Export">
                <alk-printing-export-modal #modal></alk-printing-export-modal>
                <span i18n="@@headerButtonExport">Exporter</span>
              </alk-action-item-dropdown>
            </alk-printing-button>
            <alk-sharing-button *ngIf="tools && tools.Share" i18n-buttonLabel="@@shareButton" buttonLabel="Partager">
              <alk-sharing-modal #modal></alk-sharing-modal>
            </alk-sharing-button>
            <alk-export-foncier-button *ngIf="tools && tools.fixedScalesExportPDF"
              i18n-buttonLabel="@@exportFoncierButton" buttonLabel="Export foncier">
              <alk-export-foncier-modal #modal></alk-export-foncier-modal>
            </alk-export-foncier-button>
          </div>

        </ul>
      </div>
    </nav>

    <!-- <alk-ol-map [id]="mapId" [center]="[-12.827500, 45.166244]" [zoom]="20"> -->
    <!-- [class]="navOpened ? 'reductedHeight' : 'fullHeight'" -->
    <alk-ol-map id="visualiseur">
      <alk-result-mobile *ngIf="resultAvailable"></alk-result-mobile>

      <!-- Modals -->
      <div id="modals"></div>

      <div id="main-map-container">

        <div id="map-container">

          <!-- Map tools && tools -->
          <alk-buttons-extractor-button *ngIf="tools && tools.Extractor"></alk-buttons-extractor-button>
          <alk-extractor-tools [mapId]="mapId" *ngIf="selectedTool === 'extract'"></alk-extractor-tools>
          <!-- <alk-measuring-tools *ngIf="selectedTool === 'mesurer'"></alk-measuring-tools> -->
          <alk-length-and-area-tool
            *ngIf="selectedTool === 'mesurer' && ['length', 'area'].includes(measuringOption)"></alk-length-and-area-tool>
          <alk-altimetry-tool
            *ngIf="selectedTool === 'mesurer' && measuringOption === 'altimetry'"></alk-altimetry-tool>
          <alk-itineraire-tool
            *ngIf="selectedTool === 'mesurer' && measuringOption === 'itineraire'"></alk-itineraire-tool>
          <alk-drawing-polygon *ngIf="selectedTool === 'drawPolygon'"></alk-drawing-polygon>
          <alk-drawing-linestring *ngIf="selectedTool === 'drawLineString'"></alk-drawing-linestring>
          <alk-drawing-circle *ngIf="selectedTool === 'drawCircle'"></alk-drawing-circle>
          <alk-drawing-isochrone *ngIf="selectedTool === 'drawIsochrone'"></alk-drawing-isochrone>
          <alk-drawing-symbol *ngIf="selectedTool === 'drawSymbol'"></alk-drawing-symbol>
          <alk-insert-text *ngIf="selectedTool === 'insertText'"></alk-insert-text>
          <alk-buffers *ngIf="selectedTool === 'buffers' || selectedTool === 'buffersGeneral'"></alk-buffers>
          <alk-edit-draws *ngIf="selectedTool === 'editDraws'"></alk-edit-draws>
          <alk-style-draws *ngIf="selectedTool === 'styleDraws'"></alk-style-draws>
          <alk-export-draws *ngIf="selectedTool === 'exportDrawsShp' || selectedTool === 'exportDrawsKml'">
          </alk-export-draws>

          <!-- Interrogating tools && tools -->
          <alk-interrogating-point *ngIf="selectedTool === 'infoPoint'"></alk-interrogating-point>
          <alk-interrogating-rectangle *ngIf="selectedTool === 'infoRectangle'"></alk-interrogating-rectangle>
          <alk-interrogating-circle *ngIf="selectedTool === 'infoCircle'"></alk-interrogating-circle>
          <alk-interrogating-polygon *ngIf="selectedTool === 'infoPolygon'"></alk-interrogating-polygon>
          <alk-interrogating-granted-request *ngIf="selectedTool === 'attributesQuery'">
          </alk-interrogating-granted-request>
          <alk-interrogating-tooltip *ngIf="selectedTool === 'toggleTooltip'"></alk-interrogating-tooltip>

          <!-- Barre de recherche -->
          <alk-research-override *ngIf="tools && tools.Search"></alk-research-override>

          <!-- Slider d'accès à la légende et aux couches -->
          <alk-sidebar-override *ngIf="layout && layout.Legend"></alk-sidebar-override>

          <!-- Barre d'outil carto (zoom...) -->
          <div id="map-toolbar">
            <alk-buttons-zoom-in *ngIf="tools && tools.Zoom" title="Zoom avant"></alk-buttons-zoom-in>
            <alk-buttons-zoom-out *ngIf="tools && tools.Zoom" title="Zoom arrière"></alk-buttons-zoom-out>
            <alk-buttons-mobile-interrogation title="Interrogation"></alk-buttons-mobile-interrogation>
            <alk-buttons-zoom-restore *ngIf="tools && tools.FitAll" title="Vue initiale"></alk-buttons-zoom-restore>
            <alk-buttons-full-screen *ngIf="tools && tools.Fullscreen" title="Plein écran"></alk-buttons-full-screen>
            <alk-buttons-interrogating-tooltip *ngIf="tools && tools.InfoTooltip" title="Info-bulles">
            </alk-buttons-interrogating-tooltip>
          </div>

          <alk-result-bottom-box *ngIf="resultAvailable"></alk-result-bottom-box>

          <!-- Visualisation de la carte -->
          <alk-map-visualisation [class.lower-tool]="!wmsLayers || wmsLayers.length === 0"></alk-map-visualisation>

          <alk-wms-time *ngIf="wmsLayers && wmsLayers.length !== 0"></alk-wms-time>

          <!-- Pied de page -->
          <div id="map-footer" class="d-flex flex-column">

            <div>
              <!-- Bouton résultat -->
              <alk-result-button [mailingTool]="tools && tools.Mailing" [searching]="resultSearching"
                *ngIf="resultSearching || resultAvailable">
                <alk-result-modal #modal></alk-result-modal>
              </alk-result-button>

              <div class="d-flex justify-content-center">
                <div #copyToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-body">
                    {{ toastResponse }}
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-end">

              <div>
                <!-- Logo & copyright -->
                <div id="footer-right" class="flexxx-grow-1">
                  <alk-logo></alk-logo>
                  <alk-copyright></alk-copyright>
                </div>
              </div>

              <div class="d-flex ml-auto justify-content-end">

                <!-- Echelle -->
                <alk-controls-scale-line *ngIf="layout && layout.ScaleImg" type="default"></alk-controls-scale-line>

                <!-- Coordonnées de la souris -->
                <alk-controls-mouse-position *ngIf="tools && tools.Coordinates"></alk-controls-mouse-position>

                <!-- Choix de la projection -->
                <alk-controls-coordinate-projection-selector *ngIf="tools && tools.Coordinates">
                </alk-controls-coordinate-projection-selector>

                <!-- Choix de l'échelle -->
                <alk-map-scale-dropdown mode="foncier" *ngIf="tools && tools.ScaleSelector"></alk-map-scale-dropdown>

                <!-- choix du fond de carte  -->
                <alk-base-map-dropdown></alk-base-map-dropdown>

              </div>

            </div>

          </div>

        </div>
      </div>
    </alk-ol-map>

  </ng-template>
</alk-visualiseur-core>