label.custom-file-label span {
    white-space: nowrap; 
    width: 89%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    display: inline-block;
} 

label.custom-file-label::after {
    cursor: pointer;
    content: "Parcourir..." !important;
}