<div class="modal-header d-flex flex-column p-0 border-0">
  <div class="w-100 d-flex flex-row px-4 pt-4">
    <h5 class="modal-title ml-4" id="exampleModalLabel"><strong i18n="@@addLayerModalModalTitle">Ajouter une
        couche</strong></h5>
    <button type="button" class="close rounded" data-dismiss="modal" (click)="activeModal.close()">
      <span aria-hidden="true"><i class="fa fars-close"></i></span>
    </button>
  </div>
</div>
<div class="modal-body p-0 mt-3">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a class="tab-title-wms" i18n="@@addLayerModalTabTitleCatalogue" title="Catalogue" ngbNavLink>Catalogue</a>
      <ng-template ngbNavContent>
        <div class="m-5">
          <alk-chose-server-override (modalChange)="closeModal($event)" tabId="catalogue"></alk-chose-server-override>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a class="tab-title-wms" i18n="@@addLayerModalTabTitleWMS" title="WMS" ngbNavLink>WMS</a>
      <ng-template ngbNavContent>
        <div class="m-5">
          <alk-chose-server-override (modalChange)="closeModal($event)" tabId="wms"></alk-chose-server-override>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a i18n="@@addLayerModalTabTitleWFS" title="WFS" ngbNavLink>WFS</a>
      <ng-template ngbNavContent>
        <div class="m-5">
          <alk-chose-server-override (modalChange)="closeModal($event)" tabId="wfs"></alk-chose-server-override>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a i18n="@@addLayerModalTabTitleWMTS" title="WMTS" ngbNavLink>WMTS</a>
      <ng-template ngbNavContent>
        <div class="m-5">
          <alk-chose-server-override (modalChange)="closeModal($event)" tabId="wmts"></alk-chose-server-override>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a i18n="@@addLayerModalTabTitleLocalData" title="Données locales" ngbNavLink>Données locales</a>
      <ng-template ngbNavContent>
        <div class="m-5">
          <h5 class="m-2 mb-4"><strong i18n="@@addLayerModalTitleLocalDataChoice">Choix d'une donnée locale</strong>
          </h5>
          <div class="text-center" i18n="@@addLayerModalFileTypeInformation">
            <p>Vous pouvez intégrer des fichiers dans les formats suivants (shp, mif/mid, tab, geojson, kml, csv).</p>
            <p>Les fichiers CSV peuvent être géoréférencés en spécifiant les colonnes X, Y ainsi que la projection dans
              laquelle les coordonnées sont spécifiées.</p>
          </div>
          <form novalidate [formGroup]="formImport" class="form-group">
            <div class="input-group mt-4">
              <div class="custom-file">
                <input type="file" class="custom-file-input" [class.is-invalid]="loadingFailed" id="validatedCustomFile"
                  (change)="onFileChange($event.target.files)" [accept]="acceptedFileTypes" multiple required>
                <label class="custom-file-label" for="validatedCustomFile"><span>{{ labelImportText }}</span></label>
              </div>
            </div>
            <div *ngIf="loadingFailed" class="mt-0 text-danger" i18n="@@addLayerModalInvalidFileFormat">
              <small>Format de fichier invalide ou ensemble de fichiers incomplet</small>
            </div>
          </form>
          <div class="text-right my-4">
            <button class="btn btn-modal mb-2 px-3" (click)="loadFile()"
              i18n="@@addLayerModalUploadButton">Transférer</button>
          </div>
          <div class="row" *ngIf="csvColumns.length">
            <h5 class="col-12 m-2 mb-4"><strong i18n="@@addLayerModalCsvConfig">Configuration csv</strong></h5>
            <div class="col-12 text-center">
              <p i18n="@@addLayerModalCsvConfigInfo">Spécifiez les colonnes X, Y ainsi que la projection.</p>
            </div>
            <div class="col-4">
              <select class="custom-select px-3 mx-2 my-3" [(ngModel)]="selectionX"
                (ngModelChange)="checkFormValidation()">
                <option [value]="'noPresetSelected'" hidden selected disabled
                  i18n="@@addLayerModalSelectColXPlaceholder">Colonne x</option>
                <option *ngFor="let col of csvColumns" [value]="col">
                  <span>{{ col[0] }}</span>
                </option>
              </select>
            </div>
            <div class="col-4">
              <select class="custom-select px-3 mx-2 my-3" [(ngModel)]="selectionY"
                (ngModelChange)="checkFormValidation()">
                <option [value]="'noPresetSelected'" hidden selected disabled
                  i18n="@@addLayerModalSelectColYPlaceholder">Colonne y</option>
                <option *ngFor="let col of csvColumns" [value]="col">
                  <span>{{ col[0] }}</span>
                </option>
              </select>
            </div>
            <div class="col-4">
              <select class="custom-select px-3 mx-2 my-3" [(ngModel)]="selectionProj"
                (ngModelChange)="checkFormValidation()">
                <option [value]="'noPresetSelected'" hidden selected disabled
                  i18n="@@addLayerModalSelectProjectionPlaceholder">Projection</option>
                <option *ngFor="let proj of projectionsList" [value]="proj">
                  <span>{{ proj.label }}</span>
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="csvColumns.length" class="text-right my-4">
            <button class="btn btn-modal mb-2 px-3" (click)="loadCsvFile()" [disabled]="!isFormValid"
              i18n="@@addLayerModalUploadCsvFileButton">Transférer CSV</button>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>