@media (max-width: 991px) {
  
}
@media (min-width: 992px) {
  
}

.sliderScaleVisibility {
  display: block !important;
}

#sidebar,
#sidebar-closed-btn {
  alk-add-layer {
    border-bottom-right-radius: 0.25rem !important;
  }
  button:not(.btn-link),
  alk-add-layer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 0;
    color: #fff;
    font-size: 0.7rem;
    padding: 0;
    min-height: 47.6px;
    width: 23px;
  }
}

#sidebar-opened-btn,
#sidebar-closed-btn {
  button:first-child {
    border-top-right-radius: 0.25rem !important;
  }
}

#sidebar {
  position: absolute;
  top: 10px;
  width: 354px;
  height: calc(100% - 10px);
  overflow-y: hidden;
  z-index: 2;
  user-select: none;
}

#sidebar-closed-btn {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 1;
  z-index: 1;
}
#sidebar-opened-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
  z-index: 1;
  z-index: 1;
}

.sidebar-btn a {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0px 5px;
  color: #fff;
  font-size: 0.7rem;
  min-height: 47px;
}

.sidebar-btn {
  display: block;
  width: 24px;
  height: auto;
  text-align: center;
  a:first-child {
    border-top-right-radius: 2px;
  }
  button:last-child {
    border-bottom-right-radius: 2px;
  }
}

.dropdown.sidebar-dd-layer {
  .dropdown-toggle {
    cursor: pointer;
  }
  .dropdown-toggle::after {
    display: none;
  }
}
