
<div class="unauthorized-container p-5">

  <div class="container d-flex justify-content-center align-items-center">

      <div class="text-center">
        <h1 class="display-1" >401</h1>
        <p><strong i18n="page 401|@@unauthorizedMessage">Vous n'êtes pas autorisé à charger ce contexte</strong></p>
        <p i18n="page 401|@@connectionNeededToLoad">Connectez-vous afin de pouvoir charger le contexte.</p>
        <!-- Connexion d'un utilisateur -->
        <div class="d-flex justify-content-center">
            <alk-connexion-button [redirectUrl]="redirectUrl" class="mt-3 p-2 border"></alk-connexion-button>
        </div>
      </div>

    </div>

</div>
