/* You can add global styles to this file, and also import other style files */

@import "variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "../node_modules/geoportal-extensions-openlayers/dist/GpPluginOpenLayers.css";

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

html,
body {
  height: 100vh;
  max-height: 100vh;
}

@mixin theme(
  $name,
  $primary,
  $secondary,
  $secondaryLight,
  $navBg,
  $grey,
  $greyLight
) {
  $theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "secondary-light": $secondaryLight,
    "nav-bg": $navBg,
    "grey": $grey,
    "grey-light": $greyLight,
  ) !global;

  .#{$name} {
    /*
    =====================
         Fonts Icons
    =====================
    */
    $fa-font-path: "../node_modules/font-awesome/fonts";
    /* @import "../node_modules/font-awesome/scss/font-awesome.scss"; */
    @import "assets/font-ars/style.css";

    /*
    =====================
            Font
    =====================
    */
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i");

    /*
    =====================
     Dragula Drag & Drop
    =====================
    */
    /* in-flight clone */
    .gu-mirror {
      position: fixed !important;
      margin: 0 !important;
      z-index: 9999 !important;
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      pointer-events: none;
    }
    /* high-performance display:none; helper */
    .gu-hide {
      left: -9999px !important;
    }
    /* added to mirrorContainer (default = body) while dragging */
    .gu-unselectable {
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
    }
    /* added to the source element while its mirror is dragged */
    .gu-transit {
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=20);
    }

    // TMP: Gestion Responsif.
    @media (max-width: 991px) {
      #title-nav {
        padding: 1rem !important;
        #title-resume {
          width: 75% !important;
          small {
            display: none;
          }
        }
      }
      #mobile-actions {
        max-height: 100vh !important;
        overflow-y: hidden;
        background-color: white;
        position: absolute;
        right: 0;
        z-index: 1002;
        #sidebar {
          background-color: theme-color("secondary-light");
        }
        .btn-collapse,
        alk-connexion-button a {
          height: 46.5px;
        }
        alk-connexion-button a i {
          color: white !important;
          padding-top: 5px;
        }
        #overlay {
          position: fixed; /* Sit on top of the page content */
          width: 100%; /* Full width (cover the whole page) */
          height: 100%; /* Full height (cover the whole page) */
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(
            0,
            0,
            0,
            0.5
          ); /* Black background with opacity */
          z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
          cursor: pointer; /* Add a pointer on hover */
        }
        alk-layers-legend #layers-legend {
          margin-right: -20px;
          // margin-left: -20px;
          #tabs-container {
            background-color: theme-color("secondary") !important;
          }
        }
      }
      #project-actions,
      #connexion-actions,
      #navbar-btn-collapse,
      #main-nav,
      alk-sidebar-override,
      alk-buttons-zoom-in,
      alk-buttons-zoom-out,
      alk-buttons-full-screen,
      alk-controls-mouse-position,
      alk-controls-coordinate-projection-selector,
      alk-map-scale-dropdown,
      alk-base-map-dropdown,
      alk-map-visualisation,
      alk-result-button[ng-reflect-searching="false"] {
        display: none !important;
      }
      alk-research,
      alk-research-override {
        #sidebar-research #map-search-reduce {
          display: none !important;
        }
      }
      #map-toolbar {
        top: auto !important;
        bottom: 80px;
        alk-buttons-full-screen button {
          margin-top: 0.25rem !important;
        }
      }
      /* div.dropup:not(.sidebar-dd-layer) {
        left: inherit !important;
        right: 100% !important;
      } */
    }
    @media (min-width: 992px) {
      #title-nav {
        padding: 1.5rem !important;
      }
      #mobile-actions,
      alk-buttons-mobile-interrogation,
      alk-result-mobile {
        display: none !important;
      }
    }

    .fa {
      font-weight: 500 !important;
    }

    .modal-body a {
      text-decoration: none;
      color: theme-color("secondary");
    }

    .modal-body {
      #interrogation-result tbody a {
        text-decoration: underline;
      }
    }

    a:hover {
      text-decoration: none;
    }

    .btn:active,
    .btn:focus {
      outline: none;
      box-shadow: none;
    }

    .btn-collapse,
    .btn-collapse:hover {
      background-color: theme-color("secondary-light");
      i {
        color: white;
      }
    }
    .btn-collapse:hover,
    .btn-collapse:active {
      background-color: theme-color("secondary");
    }

    .btn-link,
    a,
    .navbar-btn-collapse .btn,
    .page-link {
      color: theme-color("primary");
    }
    .btn-link:hover,
    .btn-link:active {
      text-decoration: none !important;
      color: theme-color("primary");
    }

    @media (min-width: 992px) {
      .window-xl .modal-dialog,
      .window-xxl .modal-dialog {
        max-width: 1140px;
      }
      .modal-xxl {
        max-width: calc(100vw - 30px);
      }
    }
    @media (min-width: 1200px) {
      .window-xl .modal-dialog,
      .window-xxl .modal-dialog {
        max-width: 1140px;
      }
      .modal-xxl {
        max-width: calc(100vw - 60px);
      }
    }

    .window-xl .modal-dialog.bottom,
    .window-xxl .modal-dialog.bottom {
      top: 60vh;
      height: 40vh;
      max-width: 100%;
    }

    .ol-overlay-container {
      .tooltip {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        opacity: 0.7 !important;
        white-space: nowrap;
      }

      .tooltip-measure {
        opacity: 1;
        font-weight: bold;
      }
      .tooltip-static {
        background-color: #ffcc33;
        color: black;
        border: 1px solid white;
      }
      .tooltip-measure:before,
      .tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
      }
      .tooltip-static:before {
        border-top-color: #ffcc33;
      }
    }

    .btn-modal {
      color: white;
      background-color: theme-color("secondary-light");
    }
    .btn-modal:hover,
    .btn-modal:active {
      color: white;
      background-color: theme-color("secondary");
    }
    .btn-modal-grey,
    .btn-modal-grey:enabled:active {
      color: white;
      background-color: theme-color("grey-light");
    }
    .btn-modal-grey:enabled:hover,
    .btn-modal-grey:disabled {
      color: theme-color("grey-light");
      background-color: #f1f1f1bd;
    }

    /* The customcheck */
    .customcheck {
      display: block;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input[type="checkbox"] {
        display: none;
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      input[type="checkbox"]:checked ~ .checkmark {
        background-color: theme-color("secondary-light");
        border-radius: 5px;
      }
      input[type="checkbox"]:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 5px;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 7px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .customcheck:hover input[type="checkbox"]:not(:checked) ~ .checkmark {
      background-color: #ccc;
    }
    .customcheck:hover input[type="checkbox"]:checked ~ .checkmark {
      background-color: theme-color("secondary") !important;
    }

    ngb-typeahead-window.dropdown-menu {
      max-height: 300px;
      overflow-y: auto;
      z-index: 9999;
    }

    /* Dropdown menus */
    .dropdown-menu {
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
      font-size: 0.8rem;
      padding: 0;
      h4 {
        color: theme-color();
      }
      a,
      h4 {
        padding: 0.75rem !important;
      }
      .dropdown-header {
        display: block;
        padding: 0.75rem 0.75rem;
        margin-bottom: 0;
        font-size: 0.875rem;
        font-weight: bold;
        color: theme-color();
        white-space: nowrap;
        border-top: 1px solid #ccc;
      }
      .dropdown-subheader {
        display: block;
        padding: 0.75rem 1.5rem;
        margin-bottom: 0;
        font-size: 0.875rem;
        color: theme-color();
        white-space: nowrap;
        border-top: 1px solid #ccc;
      }
      .dropdown-header:first-child {
        border-top: none;
      }
      .dropdown-header ~ .dropdown-item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-top: none;
      }
      .dropdown-item {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
        padding: 0.75rem 0.75rem;
        clear: both;
        font-weight: 400;
        color: theme-color("secondary");
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border-top: none;
        font-size: 0.8rem;
      }
      .dropdown-no-href {
        color: theme-color("secondary") !important;
      }
      .dropdown-item:focus,
      .dropdown-item:hover {
        color: theme-color("secondary");
        text-decoration: none;
        background-color: #f1f1f1;
      }
      .dropdown-item.active,
      .dropdown-item:active {
        color: theme-color();
        text-decoration: none;
        background-color: #f1f1f1;
        font-weight: 700;
      }
    }
    form:not(.sidebar-form) {
      padding: 0.75rem 0;
      color: theme-color("secondary");
      .form-slider-container {
        padding: 0 0.75rem 0.75rem;
        border-bottom: 1px solid #ccc;
        label {
          font-size: 0.875rem;
          font-weight: bold;
          color: theme-color();
          white-space: nowrap;
        }
        span {
          display: block;
          padding: 0;
        }
        span:first-child,
        span:last-child {
          padding-right: 0.5rem;
        }
      }
      .form-slider-container + .form-group {
        margin-top: 1rem;
      }
      .form-group {
        padding: 0.25rem 0.75rem;
        margin: 0;
      }
    }
    form + .dropdown-item {
      border-top: none;
    }
    .form-check {
      input[type="radio"] {
        opacity: 0;
      }
      input[type="radio"]:checked + label::before {
        border-color: theme-color("secondary");
      }
      input[type="radio"]:checked + label::after,
      input[type="radio"] + label::after {
        background-color: theme-color("secondary");
      }
      input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
      }
      label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
      }
      label:hover,
      input[type="radio"]:hover {
        cursor: pointer;
      }
      input[type="radio"] + label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid theme-color("grey-light");
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
      }
      input[type="radio"] + label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: theme-color("secondary");
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s
          cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      }
    }

    .dropdown-menu.scrollable {
      max-height: 50vh;
      overflow-y: auto;
    }

    #search-container .dropdown-menu.scrollable {
      max-height: 20vh !important;
    }

    #title-nav {
      alk-connexion-button {
        .nav-user-deconnecter {
          color: theme-color() !important;
        }
      }
      position: relative;
      h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        .badge {
          color: white;
          background-color: theme-color("secondary-light");
        }
      }
      h1,
      small {
        color: theme-color();
      }
      .project {
        .active {
          font-weight: 500;
          color: theme-color();
        }
        .nav-link {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          font-size: 0.875rem;
          font-weight: normal;
          color: theme-color();
          i {
            color: theme-color("secondary");
            padding-left: 10px;
          }
        }
        .nav-link:hover {
          color: theme-color();
        }
        .nav-link::after {
          display: none;
        }
      }
      #navbar-btn-collapse {
        position: absolute;
        bottom: 0px; /* top: 48px; 151px;*/
        left: calc(50vw - 25px);
        z-index: 1;
        a {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          padding: 0px 5px;
          color: theme-color();
          font-size: 0.7rem;
          min-height: 24px;
          background-color: theme-color("nav-bg");
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }

    alk-interrogating-mailing-modal {
      /* Important part */
      .modal-dialog {
        overflow-y: initial !important;
      }
      .modal-body {
        max-height: 70vh;
        overflow-y: auto;
        .modal-body-container {
          width: 80%;
        }
      }
      /* .ngx-wrapper .ngx-editor-textarea {
        height: 200px !important;
      } */
    }

    #main-nav {
      background-color: theme-color("nav-bg");
      alk-action-item-dropdown {
        a {
          cursor: pointer;
        }
        a:hover,
        a:active {
          color: theme-color("secondary") !important;
        }
      }
    }

    #modals {
      ngb-modal-backdrop.backdrop-tool {
        display: none;
      }

      ngb-modal-window.window-map-tool {
        height: 0;
        overflow: visible;
      }

      /* Important part */
      .modal-dialog {
        overflow-y: initial !important;
      }
      .modal-body {
        max-height: 70vh;
        overflow-y: auto;
      }

      alk-generate-style-draws-modal {
        .pattern-container {
          max-height: 120px;
          overflow-y: scroll;
        }
        .pattern-item {
          width: 75px;
          height: 50px;
          &.active {
            box-shadow: 0 0 0 0.2rem theme-color("secondary-light");
          }
        }
      }

      alk-add-layer-modal-override {
        ul {
          padding-left: 1rem !important;
        }
        .treeview-container {
          max-height: none !important;
        }
        .treeview-item label:hover {
          cursor: default;
        }
        .treeview-item label.form-check-label {
          display: inline-block !important;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .treeview-item label.form-check-label .fa,
        .treeview-item label.form-check-label .fas {
          cursor: pointer;
        }
        .treeview-item label.form-check-label::before {
          display: none !important;
        }
      }

      alk-locating-preset-zones-modal .modal-body {
        overflow-y: auto !important;
      }
      h5,
      p {
        color: theme-color();
      }
      .modal-dialog {
        .modal-header {
          .modal-title {
            color: theme-color();
          }
          button.close,
          a {
            color: theme-color("secondary");
            opacity: 1;
          }
          button.close:hover,
          a:hover {
            background-color: #f1f1f1;
          }
        }
        .modal-body {
          .modal-body-container {
            width: 80%;
          }
          .btn-recadrage i,
          .btn-recadrage span {
            color: theme-color("secondary");
          }
        }
      }
      alk-saving-modal {
        .saving-select .saving.card {
          flex: 1 1 0;
          i {
            color: theme-color("secondary");
          }
        }
        .saving-select .saving.card.selected {
          border: 2px solid theme-color("secondary");
        }
      }

      alk-search-mpa-modal {
        #mpa-accordion {
          .card-header {
            button {
              text-align: initial;
            }
          }
          .card-body {
            padding: 0 !important;
            .custom-select {
              border: none !important;
              border-top: 1px solid #ced4da !important;
              border-radius: 0 !important;
            }
          }
        }
      }

      alk-downloading-modal {
        #checking-layers-table {
          .checkmark.header {
            background-color: white;
          }
          .checkmark.header.checked {
            background-color: theme-color("secondary-light");
          }
        }
      }

      alk-opening-modal,
      alk-locating-manage-modal {
        .gu-mirror {
          display: flex;
          p {
            flex-grow: 1;
          }
        }
        .btn-danger {
          color: white;
          cursor: pointer;
          background-color: theme-color("secondary-light");
          border: 1px solid theme-color("secondary-light");
        }
        .btn-danger:hover {
          color: white;
          background-color: theme-color("secondary");
        }
        .btn-danger:active {
          color: white;
          background-color: theme-color("secondary");
          border: 1px solid theme-color("secondary");
        }
        .modal-body-container li,
        alk-opening-content-modal li {
          border-bottom: 1px dotted #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .modal-body-container li:last-of-type,
        alk-opening-content-modal li:last-of-type {
          border-bottom: none;
        }
        .modal-body-container p,
        alk-opening-content-modal p {
          flex-grow: 1;
          color: theme-color("secondary");
        }
      }

      alk-opening-modal,
      alk-locating-preset-zones-modal {
        .dropdown-saved-maps,
        .dropdown-preset-zones,
        select {
          color: theme-color("secondary-light");
          border: 1px solid theme-color("secondary-light");
          border-radius: 0.25rem;
          background-color: #ffffff;
          font-size: 0.75rem;
          margin-left: 15px;
          span,
          i {
            color: theme-color("secondary-light");
          }
          a::after {
            display: none;
          }
        }
        select[disabled] {
          background: none;
          color: #808285 !important;
          border: 1px solid #808285 !important;
          border-radius: 0.25rem;
          font-size: 0.75rem;
          margin-left: 15px;
        }
        select,
        select[disabled] {
          margin: 0;
        }
      }
      alk-printing-image-modal,
      alk-printing-pdf-modal,
      alk-printing-export-modal,
      alk-search-mpa-modal,
      alk-export-foncier-modal {
        .format-select .format.card.selected {
          border: 2px solid theme-color("secondary");
        }
        button:disabled:hover {
          background-color: theme-color("secondary-light");
        }
        .spinner-border {
          margin-right: 10px !important;
          width: 1rem !important;
          height: 1rem !important;
          border-color: white !important;
          border-right-color: transparent !important;
          border-width: 0.15em !important;
        }
      }
      alk-printing-pdf-modal {
        #carousel-modeles .carousel-inner,
        #carousel-modeles-imprimer .carousel-inner {
          width: calc(100% - 80px);
        }

        #carousel-modeles .modele,
        #carousel-modeles-imprimer .modele {
          filter: grayscale(100%);
        }
        #carousel-modeles .modele.selected,
        #carousel-modeles-imprimer .modele.selected {
          filter: grayscale(0%);
        }

        #carousel-modeles .modele img,
        #carousel-modeles-imprimer .modele img {
          width: 75%;
          height: auto;
          border: 2px solid theme-color("secondary-light");
        }

        #carousel-modeles .modele p,
        #carousel-modeles-imprimer .modele p {
          color: theme-color("secondary-light");
        }

        #carousel-modeles .carousel-control-prev,
        #carousel-modeles .carousel-control-next,
        #carousel-modeles-imprimer .carousel-control-prev,
        #carousel-modeles-imprimer .carousel-control-next {
          opacity: 1;
          border-radius: 4px;
          width: 25px;
          height: 65px;
        }

        #carousel-modeles .carousel-control-prev .carousel-control-prev-icon,
        #carousel-modeles .carousel-control-next .carousel-control-next-icon,
        #carousel-modeles-imprimer
          .carousel-control-prev
          .carousel-control-prev-icon,
        #carousel-modeles-imprimer
          .carousel-control-next
          .carousel-control-next-icon {
          background: none;
        }
        #carousel-modeles .carousel-control-prev,
        #carousel-modeles-imprimer .carousel-control-prev {
          /* margin-left: -40px; */
          color: theme-color("grey-light");
          border: 1px solid theme-color("grey-light");
          background-color: white;
        }
        #carousel-modeles .carousel-control-next,
        #carousel-modeles-imprimer .carousel-control-next {
          /* margin-right: -40px; */
          color: white;
          background-color: theme-color("secondary-light");
        }
      }
      alk-printing-export-modal {
        #export-pdf-checkbox a {
          cursor: pointer;
          color: theme-color("secondary-light");
        }

        #export-pdf-chevrons {
          a {
            cursor: pointer;
            margin: 0.5rem 0.25rem 0.5rem 0.25rem;
            padding: 0.25rem 0.75rem 0.25rem 0.75rem;
            border-radius: 0.25rem;
            border: 1px solid theme-color("grey-light");
            color: theme-color("grey-light");
          }
          a.active {
            background-color: theme-color("secondary-light");
            border: 1px solid theme-color("secondary-light");
            color: white;
          }
          a.active:active {
            background-color: theme-color();
            border: 1px solid theme-color();
            color: white;
          }
        }
      }
    }

    alk-bootstrap,
    alk-root,
    alk-visualiseur-core {
      display: block;
      height: 100%;
    }

    alk-visualiseur-core {
      display: flex;
      align-items: stretch;
      flex-direction: column;
    }

    #visualiseur.reductedHeight {
      height: calc(100vh - 175px);
    }

    #visualiseur.fullHeight {
      height: calc(100vh - 90px);
    }

    #visualiseur {
      position: relative;
      display: block;
      flex-grow: 1;

      alk-result-mobile {
        .modal-header {
          color: white;
          background-color: theme-color("secondary-light");
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
          .close i {
            color: white;
          }
        }
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1001;
      }

      #main-map-container {
        height: 100%;
      }

      #map-container {
        ngb-modal-backdrop.backdrop-tool {
          display: none;
        }

        ngb-modal-window.window-tool {
          z-index: 1000;
          position: absolute;
          max-width: 350px;
          height: 0;
          overflow: visible;
          left: 50%;
          transform: translate(-50%, 0);
          @media (min-width: 576px) {
            .modal-sm {
              max-width: 350px;
            }
          }
          .modal-dialog {
            opacity: 1;
            border-radius: 0.25rem;
            margin-top: 0.5rem !important;
            margin-bottom: 0.5rem !important;
            .modal-content {
              background-color: theme-color("nav-bg");
              .modal-header {
                border-radius: 0.25rem;
                padding: 0.25rem !important;
                color: theme-color("primary");
                span {
                  flex-grow: 1;
                }
                button.close {
                  font-size: 1rem;
                  i {
                    color: theme-color("secondary-light");
                  }
                }
                .list-group {
                  margin-right: 1.5rem !important;
                  .list-group-item {
                    border-radius: 0 !important;
                    background-color: white;
                    opacity: 1;
                    button span i {
                      color: theme-color();
                    }
                  }
                  .list-group-item.selected {
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) inset;
                    button span i {
                      color: rgb(0, 204, 0);
                    }
                  }
                }
              }
              .modal-body {
                overflow-y: auto;
              }
            }
          }
        }

        ngb-modal-window.window-tool.editing-tool {
          max-width: 475px;
          @media (min-width: 576px) {
            .modal-sm {
              max-width: 475px;
            }
          }
        }

        ngb-modal-window.invisible-tool .modal-content {
          border: none;
        }

        alk-layers-tooltip {
          z-index: 100;
          position: absolute;
          left: 900px;
          top: 150px;
        }

        #map-toolbar {
          position: absolute;
          top: 80px;
          right: 10px;
          width: 30px;
          height: auto;
          z-index: 1;
          i {
            color: theme-color("grey");
          }
        }

        alk-map-visualisation {
          .ol-control {
            position: relative !important;
          }
          #sidebar-visualisation {
            position: absolute;
            bottom: 210px;
            right: 10px;
            // width: 200px;
            height: auto;
            z-index: 1;
          }
          #sidebar-closed-visualisation {
            position: absolute;
            bottom: 210px;
            right: 10px;
            z-index: 1;
            a {
              border-radius: 2px;
            }
          }
        }

        alk-map-visualisation.lower-tool {
          #sidebar-visualisation {
            bottom: 60px;
          }
          #sidebar-closed-visualisation {
            bottom: 60px;
          }
        }

        alk-wms-time {
          box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
          background-color: #ffffff;
          z-index: 100;
          position: absolute;
          bottom: 60px;
          right: 10px;
          z-index: 1;
          .slider.slider-horizontal {
            width: 305px;
            .slider-track {
              height: 20px;
              top: 0;
              margin-top: 0 !important;
              .slider-selection {
                background-image: none;
                background-color: theme-color();
              }
              cursor: default;
            }
            .slider-handle.min-slider-handle.round,
            .slider-handle.max-slider-handle.round {
              display: none !important;
            }
          }
          button[aria-pressed="true"] {
            background-color: theme-color("grey-light");
          }
        }
      }

      alk-result-bottom-box {
        // display: none;
        background-color: white;
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        max-height: 40vh;
        &.bottom-opened {
          height: 40vh;
        }
      }

      #fiche-info-content table tbody + tbody {
        border-top: 15px solid transparent;
      }

      #map-footer {
        position: absolute;
        right: 10px;
        bottom: 15px;
        left: 20px;
        z-index: 1;
        user-select: none;
        pointer-events: none;
        > * {
          user-select: none;
          pointer-events: none;
        }
        .dropdown-menu.show {
          pointer-events: all;
          user-select: auto;
        }
        #map-result-btn {
          margin-bottom: -20px;
          /* position: absolute;
          bottom: calc(100% + 15px); */
          width: 100px;
          height: auto;
          z-index: 1;
          button.btn {
            font-size: 0.7rem;
            font-weight: bold;
            line-height: 0.9rem;
            padding: 15px;
            color: theme-color();
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
            border-radius: 4px;
            user-select: auto;
            pointer-events: auto;
            .fa {
              font-size: 2rem;
              padding-top: 0.5rem;
            }
          }
          button.btn:hover {
            background-color: #f1f1f1;
            text-decoration: none;
          }
        }
        #footer-right {
          alk-copyright {
            vertical-align: bottom;
          }
        }
        .map-footer-item {
          padding: 0px;
          box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
          background-color: #ffffff;
          font-size: 0.75rem;
          margin-left: 15px;
          span {
            color: theme-color();
          }
          a,
          span {
            display: block;
            padding: 7px 15px;
            pointer-events: auto;
            user-select: all;
          }
          .dropdown-toggle i {
            color: theme-color("secondary");
            padding-left: 15px;
          }
          .dropdown-toggle::after {
            content: none;
            display: none;
          }
        }
        .map-footer-item.dropdown > a:hover,
        .map-footer-item.dropdown.show > a {
          color: theme-color("secondary");
          font-weight: bold;
        }
        alk-controls-scale-line {
          .scale-line:last-of-type {
            .scale-line-inner {
              padding-left: 0.5rem;
              border-bottom: 1px solid black;
              border-right: 1px solid black;
              border-left: 1px solid black;
            }
          }
        }
      }
    }

    mv-slider {
      .slider-handle.round {
        background-color: theme-color("secondary") !important;
        background-image: linear-gradient(
          to bottom,
          theme-color("secondary") 0,
          theme-color("secondary-light") 100%
        ) !important;
      }
    }

    .list-group-item.gu-mirror {
      height: auto !important;
      .legendItem,
      .sidebar-dd-layer.dropup {
        display: none !important;
      }
    }

    .ol-viewport {
      background: white;
    }

    /* Chargement du CSS des composants du module VisualiseurCore */
    alk-result-bottom-box,
    alk-result-modal {
      button.close {
        color: theme-color("secondary");
      }
      .modal-header .modal-title {
        color: theme-color();
      }
    }

    alk-result-modal-fiche {
      ng-multiselect-dropdown {
        .multiselect-dropdown {
          .dropdown-btn {
            border: none !important;
            padding: 0 !important;
            span .dropdown-down,
            span .dropdown-up {
              display: none !important;
            }
            .selected-item {
              border: 1px solid theme-color() !important;
              background-color: theme-color() !important;
            }
          }
          .dropdown-list {
            .multiselect-item-checkbox div:before {
              border-radius: 5px;
              border: solid white !important;
              top: 35% !important;
              width: 20px !important;
              height: 20px !important;
            }
            .multiselect-item-checkbox div:after {
              top: 44% !important;
              left: 7px !important;
              width: 10px !important;
              height: 5px !important;
            }
            input[type="checkbox"]:not(:checked) + div:before {
              background-color: #ccc;
            }
            input[type="checkbox"]:checked + div:before {
              background-color: theme-color("secondary") !important;
            }
          }
        }
      }
    }

    alk-result-content {
      .page-item .custom-select.page-link {
        background-color: theme-color() !important;
      }
      .row {
        #interrogation-nav {
          background-color: theme-color("secondary-light") !important;
          .navbar-nav .nav-link {
            color: theme-color() !important;
          }
          .nav-link.enabled:hover {
            color: theme-color();
          }

          #interrogation-table {
            table {
              color: theme-color("grey");
              tbody {
                td {
                  color: theme-color();
                  i {
                    color: theme-color("secondary-light");
                  }
                }
              }
            }
          }
        }
        .list-group-item {
          h5 {
            color: theme-color("secondary-light");
          }
          small {
            color: theme-color();
          }
        }
        .list-group-item.active {
          h5 {
            color: theme-color();
          }
        }
      }
    }

    alk-sidebar-override,
    alk-mobile-sidebar,
    alk-layers-legend {
      #sidebar,
      #sidebar-closed-btn {
        button:not(.btn-link),
        alk-add-layer {
          background-color: theme-color("secondary-light");
        }
        .darker {
          background-color: theme-color("secondary");
        }
      }

      #sidebar {
        header {
          @media (max-width: 991px) {
            background-color: theme-color("secondary");
            #sidebar-title {
              color: theme-color("secondary");
            }
          }
          @media (min-width: 992px) {
            background-color: theme-color("secondary-light");
            #sidebar-title {
              color: theme-color("secondary-light");
            }
          }
        }
        .list-group {
          .list-group-item {
            color: theme-color();
          }
          .list-group-item[aria-expanded="true"]::before,
          .list-group-item[aria-expanded="false"]::before {
            color: theme-color("secondary-light");
          }
          /* level 2*/
          .collapse > .collapse .list-group-item,
          .collapse > .collapsing .list-group-item {
            color: theme-color("secondary-light");
          }
          .list-group-item.disabled,
          .list-group-item.disabled a {
            color: theme-color("grey-light") !important;
          }
          /* level 3*/
          .collapse > .collapse > .collapse .list-group-item {
            color: theme-color("secondary-light");
          }
        }
      }

      .sidebar-btn a {
        background-color: theme-color("secondary-light");
      }

      .sidebar-btn button.darker,
      .sidebar-visualisation-btn button.darker {
        background-color: theme-color("secondary");
      }
    }

    alk-base-map-dropdown {
      mv-slider {
        .slider-handle.round {
          background-color: theme-color("secondary") !important;
          background-image: linear-gradient(
            to bottom,
            theme-color("secondary") 0,
            theme-color("secondary-light") 100%
          ) !important;
        }
      }
    }

    button[geolocationButton],
    a[geolocationButton] {
      .fars-center-geoloc {
        color: theme-color("secondary-light") !important;
      }
    }

    alk-research,
    alk-research-override {
      #map-search-reduce button {
        background-color: theme-color("secondary-light");
      }

      form {
        .form-control::-webkit-input-placeholder,
        .form-control::-moz-placeholder,
        .form-control:-ms-input-placeholder,
        .form-control::placeholder,
        .input-group-text .fars-search {
          color: theme-color("light-grey");
        }
        .btn .fars-center-geoloc {
          color: theme-color("secondary");
        }
      }

      form .form-control:focus,
      form:focus-within .input-group-text,
      form:focus-within button {
        background-color: white !important;
      }

      #map-search-result {
        .dropdown-item {
          color: theme-color("secondary-light");
        }
      }
    }

    #catalogue-search-result {
      .dropdown-item {
        color: theme-color("secondary-light");
      }
    }

    alk-helping-modal {
      .modal-header {
        .modal-title {
          color: theme-color();
        }
        button.close,
        a {
          color: theme-color("secondary") !important;
        }
      }
      .modal-body {
        .btn-recadrage i,
        .btn-recadrage span {
          color: theme-color("secondary");
        }
      }
    }
  }

  /**
  ==================== ALTIMETRIE ====================
  */

  button.close-popup {
    float: right;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    background-color: transparent;
    border: none;
  }
  .GPshowAdvancedToolPicto {
    left: -100px !important;
  }

  .GPshowAdvancedToolPicto > div {
    display: block;
  }

  .GPpanel {
    top: -5px;
    left: 150px;
  }

  .GPpanelClose {
    display: none;
  }

  h1.required::after,
  h2.required::after,
  h3.required::after,
  h4.required::after,
  h5.required::after,
  h6.required::after,
  label.required::after,
  p.required::after,
  span.required::after,
  small.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
  }
}

[disabled] {
  cursor: not-allowed;
}

@each $name, $primary, $secondary, $secondaryLight, $navBg, $grey,
  $greyLight in $color-scheme
{
  @include theme(
    $name,
    $primary,
    $secondary,
    $secondaryLight,
    $navBg,
    $grey,
    $greyLight
  );
}
