@font-face {
  font-family: 'font-ars';
  src:  url('fonts/font-ars.eot?gyk387');
  src:  url('fonts/font-ars.eot?gyk387#iefix') format('embedded-opentype'),
    url('fonts/font-ars.ttf?gyk387') format('truetype'),
    url('fonts/font-ars.woff?gyk387') format('woff'),
    url('fonts/font-ars.svg?gyk387#font-ars') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fars-"], [class*=" fars-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-ars' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fars-draw-polygon:before {
  content: "\e92d";
}
.fars-envelope:before {
  content: "\e901";
}
.fars-select:before {
  content: "\f00c";
}
.fars-question:before {
  content: "\f128";
}
.fars-buffer:before {
  content: "\e92c";
}
.fars-polygon:before {
  content: "\e231";
}
.fars-line:before {
  content: "\e922";
}
.fars-fichier:before {
  content: "\e92a";
}
.fars-copier-fichier:before {
  content: "\e92b";
}
.fars-facebook:before {
  content: "\ea91";
}
.fars-twitter:before {
  content: "\ea96";
}
.fars-layer-group-solid:before {
  content: "\e929";
}
.fars-supprimer:before {
  content: "\e928";
}
.fars-deconnecter:before {
  content: "\e926";
}
.fars-deplacer:before {
  content: "\e927";
}
.fars-ajouter:before {
  content: "\e91b";
}
.fars-localiser:before {
  content: "\e924";
}
.fars-agrandir-button:before {
  content: "\e923";
}
.fars-center-geoloc:before {
  content: "\e900";
}
.fars-vue-precedente:before {
  content: "\e91a";
}
.fars-zoom-out:before {
  content: "\e91e";
}
.fars-zoom-in:before {
  content: "\e91f";
}
.fars-tableau:before {
  content: "\e91d";
}
.fars-interroger:before {
  content: "\e911";
}
.fars-chevron-droite:before {
  content: "\e912";
}
.fars-chevron-gauche:before {
  content: "\e917";
}
.fars-chevron-haut:before {
  content: "\e921";
}
.fars-chevron-bas:before {
  content: "\e90c";
}
.fars-serveur:before {
  content: "\e904";
}
.fars-partager:before {
  content: "\e905";
}
.fars-sauvegarder:before {
  content: "\e906";
}
.fars-se-deplacer:before {
  content: "\e90f";
}
.fars-agrandir:before {
  content: "\e902";
}
.fars-annoter:before {
  content: "\e903";
}
.fars-cibler:before {
  content: "\e907";
}
.fars-close:before {
  content: "\e908";
}
.fars-crop:before {
  content: "\e909";
}
.fars-editer:before {
  content: "\e90a";
}
.fars-exporter:before {
  content: "\e90b";
}
.fars-fiche-info:before {
  content: "\e90d";
}
.fars-globe:before {
  content: "\e90e";
}
.fars-imprimer:before {
  content: "\e910";
}
.fars-mesurer:before {
  content: "\e913";
}
.fars-options-donnee:before {
  content: "\e914";
}
.fars-options-donnee-ouvertes:before {
  content: "\e920";
}
.fars-ordinateur:before {
  content: "\e915";
}
.fars-ouvrir:before {
  content: "\e916";
}
.fars-profile:before {
  content: "\e918";
}
.fars-reduire:before {
  content: "\e919";
}
.fars-reduire-bas:before {
  content: "\e925";
}
.fars-search:before {
  content: "\e91c";
}
